/* auth.css */
html, body {
	margin: 0;
	padding: 0;
	/* height: 100%; */
	/* width: 100%; */
	/* background: #e6e6d8 url('https://dl.dropboxusercontent.com/s/t0gu051d08sei65/bg-retro-noise.png'); */
	color: #121212;
	/* scrollbar-gutter: stable; */
	overflow-y: auto;
	/* overflow-x: hidden; */
	/* width: 100vw; */
	font-family: "Oswald", Sans-serif;
	z-index: 0;
	background-image: url('bg.WebP');
    background-size: cover;  /* Ensures the image fits within the element */
    background-repeat: no-repeat;  /* Prevents repeating the image */
    background-position: center center;  /* Centers the image within the element */
    width: 100vw;  /* Adjust as needed */
    min-height: 100vh;  /* Adjust as needed */
	
}
#box {
    position: relative;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,0) 48%, rgba(47,109,136,1) 91%);
    width: 100%;
    min-height: 100%;
}
/* Title Styles */
#title {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 40px;
}

/* Auth Div Styles */
#authDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

/* Form Styles */
#auth-form {
    display: flex;
    flex-direction: column;
    min-width: 200px; /* Ensure the form doesn’t become too narrow */
    width: 100%;
    max-width: 300px; /* Optional: Prevent it from becoming too wide */
}

/* Input Styles */
#auth-form input {
    margin: 10px 0;
    padding: 10px;
    font-size: 1em;
}

/* Buttons Container Styles */
/* Buttons Container Styles */
#buttons {
    display: flex;
    justify-content: space-between;
    min-width: 200px;
    width: 100%;
    max-width: 300px;
    gap: 10px; /* Adds spacing between buttons */
    height: 70px;
}


button {
    font-size: 1em;
    cursor: pointer;
    flex: 1 1 auto; /* Allow buttons to shrink/grow properly */
    min-width: 100px; /* Prevents buttons from becoming too small */
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    white-space: nowrap; /* Prevents text from wrapping */
}