body {
    /* width: 100vw;
    height: 100vh; */
    margin: 0;
    padding: 0;
    /* background-image: url('bg.png'); */
    /* background-size: cover; or 'contain' depending on your desired result */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* height: 100vh; Ensure body takes up full height of the viewport */
}
#mainContent {
    position: relative;
    
}
.title {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: top;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 16px;
}

.tooltip {
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    display: none;
    white-space: nowrap;
    z-index: 1000;
    pointer-events: none; /* Ensures it doesn't interfere with mouse events */
}
/* #ranks {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 200px;
    height: 100px; 
    background-color: #f0f0f0; Example background
} */

#ranks {
    display: none;
    width: 100%;
    height: 100%;
}
/*  */
#results {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Auto-adjust columns */
    gap: 20px; /* Space between items (similar to justify-around) */
    justify-content: center; /* Ensures centering */
}

.item {
    display: inline-block; /* If needed */
    background: lightgray;
    padding: 20px;
    text-align: center;
}

.img {
    background-size: cover; /* or 'contain' depending on your desired result */
    background-position: center;
    background-repeat: no-repeat;
    width: 200px;
    height: 300px;
}

#results {
    overflow: auto;
}
/* margin: top right bottom left; */
.icon-cancel-outline {
    margin: 10px 10px auto auto;
    padding: 10px;
    box-sizing: border-box; /* Ensures size remains the same */
    border: 2px solid transparent; /* Transparent border to reserve space */
    border-radius: 50%;
}

.icon-cancel-outline:hover {
    border: 2px solid black; /* Border appears but doesn't affect size */
}